POSTGRES_DB=studygatchi_db
POSTGRES_USER=studygatchi-user
POSTGRES_PASSWORD=studygatchi
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DEBUG=1
SECRET_KEY=your-dev-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,backend
