# Python environment
env/
__pycache__/
backend/__pycache/*

# personal settings
backend/settings.py

# pytest
.pytest_cache/
*.py[cod]

# Personal Migrations
backend/quickstart/migrations/*

# MacOS
.DS_Store
