# Python environment
env/
.venv/
__pycache__/
backend/__pycache/*
uv.lock

# personal settings
backend/settings.py

# pytest
.pytest_cache/
*.py[cod]

# Personal Migrations
backend/quickstart/migrations/*

# MacOS
.DS_Store

# postman
.postman/
postman/

# IDE settings
.vscode/
.idea/
