
.timer {
  width: 320px;
  margin: 50px auto;
  padding: 20px 30px;
  border-radius: 20px;
  background-color:  #79b4df;
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  
}
.timer h3 {
  margin-bottom: 10px;
  font-size: 3vw;
}

.timer h4 {
  margin-bottom: 10px;
  font-size: 3vw;
  font-weight: 400;
}

.timer h1 {
  font-size: 5vw;
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #1c427133;
  padding: 15px ;
  border-radius: 15px;
}

.inputs, .mode {
  display: flex;
  justify-content: center;
  gap: 10px;        
  flex-wrap: wrap;   
  margin-bottom: 15px;
}

.inputs label, .mode label {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  color: #ffffff;
  min-width: 80px;       
  max-width: 120px;       
  flex: 1 1 auto;         
}

.inputs input, .mode select {
  margin-top: 5px;
  padding: 5px 8px;
  border-radius: 8px;
  border: none;
  font-size: 2vw;
  outline: none;
  width: 100%;           
  box-sizing: border-box;
}

.timer button {
  margin: 5px;
  padding: 10px 10px;
  border: none;
  border-radius: 12px;
  font-size: 2.5vw;
  font-weight: bold;
  cursor: pointer;
  background-color:  #e3780c;
  color: #ffffff;
 
}

@media (max-width: 400px) {
  .timer {
    width: 80%;
    padding: 10px 10px;
  }

  .timer h1 {
    font-size: 3vw;
    padding: 10px 0;
  }

  button {
    padding: 8px 14px;
    font-size: 1vw;
  }
}
